

form {
   /* background-color: blue; */
   width: auto;
   display: flex;
   flex-direction: column;
   width: 50%;
    border: 1px solid black;
    border-radius: 2px;
    background-color: var(--pink);
    margin: auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-form {
    background-color: lime;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.field {
    margin: 10px auto;
    position: relative;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    
}

form div.field label {
    display: table-cell;
    padding-bottom: 5px;
}

form div.field input {
    box-sizing: border-box;
    width: 300px;
    margin: auto;
    line-height: 1.21428571em;
    padding: 5px 5px;
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    border-radius:.5px;
    box-shadow: 0em 0em 0em 0em transparent inset;
}

form div.field textarea {
    display: block;
    width: 300px;
    margin: auto;
    line-height: 1.21428571em;
    padding: 5px 5px;
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    border-radius:.5px;
    border: 2px solid black;
}

.field-button {
    margin: 20px 0px;
}

form button {
    width: 80px;
    height: 40px;
    border-radius: .5px;
}