body {
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
}

.section-1 {
    /* background: url("../img/desk_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute; */
    position: relative;
    top: 0px;
    left: 0px;
    width: auto;
}

.section-2 {
    margin: 20px 0px 120px 0px;
  }

.section-3 {
    margin: 10px 0px
}

div.section-1 img {
    width: 100%;
    filter: grayscale(100%);
}

.heading {
    text-align: center;
    color: rgb(255, 114, 215);
    text-decoration: underline;
}

p {
    word-wrap: break-word;
}

