body {
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
}

.section_1 {
    /* background: url("../img/desk_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute; */
    position: relative;
    top: 0px;
    left: 0px;
    width: auto;
}

div.section_1 img {
    width: 100%;
    filter: grayscale(100%);
}

p {
    word-wrap: break-word;
}