:root {
  --grey: rgb(169, 169, 169);
  --neon-green: rgb(64, 255, 0);
  --neon-yellow: rgba(242, 255, 0, 0.55);
}

.nav {
  position: fixed;
  display: block;
  height: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 57.6px;
  border-bottom: 1px solid black;
  overflow: hidden;
  z-index: 100;
  color: var(--grey);
  background-color: white;
}

ul { 
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  padding: 0px;
}

li {
  float: left;
}

li a {
  display: block;
  color: inherit;
  text-align: center;
  padding: 18px 20px;
  margin: auto;
  text-decoration: none;
  border-right: 1px solid black;
}

li a:hover {
  background-color: var(--neon-yellow);
}

.hamburger {
  display: none;
  float: left;
  margin: auto auto auto 10px;
  height: 55px;
  width: auto;
  cursor: pointer;
}

.logo {
  float: right;
  text-align: center;
  padding: 12px 20px;
  color: var(--neon-green);
  font-size: 22px;
  font-weight: 900;
  text-shadow: 1.5px 2px var(--grey);
}

@media (max-width: 505px){
  ul {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

.nav_vert {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  margin-top: 57.6px;
}

.vert_cell {
  border-bottom: 1px solid var(--grey);
}

.displayVert {
  display: flex;
}
