.nav {
  position: absolute;
  display: block;
  height: auto;
  top: 0;
  left: 0;
  width: 100%;
  color: #666;
  background-color: #ffffff;
  border-bottom: 1px solid black;
  
}

ul { 
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  padding: 0px;
}

li {
  float: left;
}

li a {
  display: block;
  color: inherit;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  border-right: 1px solid black;
}

li a:hover {
  background-color: rgb(185, 247, 61);
}

.logo {
  float: right;
  border-right: 0px solid black;
  padding: 14px 20px;
  color: inherit;
}

