#snackbar {
    visibility: hidden;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    min-width: 250px;
    background-color: var(--neon-yellow-solid);
    color: var(--neon-green);
    -webkit-text-stroke-width: .4px;
    -webkit-text-stroke-color: black;
    border: 1px solid black;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 100;
    left: 50%;
    bottom: 70px;
    transform: translate(-50%, -0%);
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 4s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 70px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 70px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 70px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 70px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }